<div class="row mb-2">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/client/edit/{{ id }}" class="btn btn-dark">Edit</a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>

<div *ngIf="client" class="card">
  <h3 class="card-header">
    {{ client.firstName }} {{ client.lastName }}
  </h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4>{{ client.id }}</h4>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <h5>
            Balance:
            <span
              [class.text-danger]="hasBalance"
              [class.text-success]="!hasBalance"
            >
              <span *ngIf="hasBalance">-</span>{{ client.balance | currency }}
            </span>
          </h5>
          
          <small>
            <a (click)="showBalanceUpdateInput()">Update</a>
          </small>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Email: {{client.email}}</li>
      <li class="list-group-item">Phone: {{client.phone}}</li>
    </ul>
  </div>
</div>