<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-sm">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">

      <div class="form-group">
        <label for="firstName">First Name: </label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          #clientFirstName="ngModel" 
          [ngClass]="{ 'is-invalid': clientFirstName.errors && clientFirstName.touched }"
          [(ngModel)]="firstName"
          minlength="2"
          required
        />
        <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
          Client's first name is required for a new client.
        </div>
        <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
          Client's first name must be at least 2 characters long.
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name: </label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          #clientLastName="ngModel"
          [ngClass]="{ 'is-invalid': clientLastName.errors && clientLastName.touched }"
          [(ngModel)]="lastName"
          minlength="2"
          required
        />
        <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
          Client's last name is required for a new client.
        </div>
        <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
          Client's last name must be at least 2 characters long.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
        <input
          type="text"
          class="form-control"
          name="email"
          #clientEmail="ngModel"
          [ngClass]="{ 'is-invalid': clientEmail.errors && clientEmail.touched }"
          [(ngModel)]="email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
        />
        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
          Email required.
        </div>
        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
          Email is not valid.
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid' : clientPhone.errors && clientPhone.touched }"
          [(ngModel)]="client.phone"
          name="phone"
          #clientPhone="ngModel"
          minlength="10"
          required
        />
        <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
          Phone number is required.
        </div>
        <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
          Phone number must be at least 10 digits.
        </div>
      </div>

      <div class="form-group">
        <label for="balance">Balance</label>
        <input 
          type="number"
          class="form-control"
          [(ngModel)]="client.balance"
          name="balance"
          #clientBalance="ngModel"
          [disabled]="disableBalanceOnAdd"
        />
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block" />
      
    </form>
  </div>
</div>